
<h1>Testimonials</h1>
<div class="col-lg-11">
  <a [routerLink]='["/insert"]' class="btn btn-info pull-right">Add New</a>
</div><!-- /.box-header -->
<p *ngIf="!testimonials"><em>Loading...</em></p>

<div class="row col-lg-12">
  <div *ngIf="message?.length>0" class="alert alert-success" role="alert">
    <p *ngFor="let msg of message">
      {{ msg.description }}<br />
    </p>
  </div>
</div>
<table class='table' *ngIf="testimonials">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Address</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let testimonial of testimonials">
      <td>{{ testimonial.title }}</td>
      <td>{{ testimonial.email }}</td>
      <td>{{ testimonial.descriptions }}</td>
      <td>{{ testimonial.address }}</td>
      <td *ngIf="testimonial.isActive">Enable</td>
      <td *ngIf="!testimonial.isActive">Disable</td>
      <td>
        <a data-toggle="tooltip" [routerLink]="['/edit/', testimonial.id]" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
        <a onclick="return confirm('Do you want to delete?')" data-toggle="tooltip" (click)="deleteRow(testimonial.id)" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
    </tr>
  </tbody>
</table>
